body
{
	background-color: #9FCADF;
	width: 98vw;
}

header
{
	width: 100%;
	height: 15vh;
	background-color: #3446FE;
	border-radius: 5pt;
	text-align: center;
	line-height: 15vh;
}

#page
{
	display: inline-block;
	height: auto;
	width: 50%;
	background-color: white;
	margin-left: 25%;
}

.ad_block
{
	display: block;
	width: 100%;
	height: 30vh;
	background-color: white;
	border: 2px solid black;
}

.img_contener
{
	display: inline;
	float: left;
	width: 30%;
	height: 100%;
	background-color: white;
}

.ad_contener
{
	display: inline;
	float: right;
	width: 70%;
	height: 100%;
	background-color: #34CFFE;
	text-align: center;
}

img
{
	height: 100%;
	object-fit: inherit;
	margin-top: 0;
}

#logo
{
	display: inline-block;
	width: 20%;
	height: 100%;
	float: left;
}

#title
{
	display: inline-block;
	width: 80%;
	height: 100%;
}

h1
{
	margin-top: 0;
	float: left;
	height: 100%;
}
